<div class="container-fluid" *ngIf="!loading">
  <shop-carousel-items [items]="items"></shop-carousel-items>

  <app-product-category-list
    *ngIf="listOne"
    [title]="'Cursos de tecnología'"
    [productsList]="listOne"
    [showDesc]="true"
  >
  </app-product-category-list>

  <app-product-category-list
    *ngIf="listTwo"
    [title]="'Cursos más economicos'"
    [productsList]="listTwo"
    [showDesc]="true"
  >
  </app-product-category-list>

  <app-product-category-list
    *ngIf="listThree"
    [title]="'Cursos de negocios'"
    [productsList]="listThree"
    [showDesc]="true"
  >
  </app-product-category-list>
</div>
